@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0a192f;
  color: #8892b0;
  overflow-x: hidden;
}

/* Custom Scrollbar for that "Hacker" feel */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #0a192f;
}
::-webkit-scrollbar-thumb {
  background-color: #495670;
  border: 3px solid #0a192f;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}